a{
	background:#5d9b9b;
	border:0;
	color: black;
	padding:10px 15px;
	cursor:pointer;
	border-radius: 30px;
}



body{
		margin: 0;
	padding: 0;
	background: url(quizz.webp);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

html {
 border: 20px solid black;!important
 min-height: 100%;
}